{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фонд капитального ремонта</title>
  <link rel="stylesheet" href="{% static 'style/fkr.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

  <style>
    .client-table, tr, td {
      border: .1rem solid black;
      padding: .2rem;
      text-align: center;
    }
  </style>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link" href="{% url 'main' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'fkr' %}">ФКР</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'eko' %}">ЭкоАльянс</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form method="post">
  {% csrf_token %}
  <label>Л/счет:</label>
  <input type="text" name="supplier-ls">
  <label>Фамилия:</label>
  <input type="text" name="supplier-fam">
  <label>Имя:</label>
  <input type="text" name="supplier-imia">
  <input type="submit" value="Поиск / Формирование">
</form>

<div style="margin-left: 2rem;">
<table class="client-table">
{% for i in html_table %}
    <tr>
      {% for j in i%}
        <td>{{ j }}</td>
      {% endfor %}
    </tr>
{% endfor %}
</table>


{% for i in statement_info %}
  <p>{{ i }}</p>
{% endfor %}

  <table class="client-table" style="margin-bottom: 1rem">
    {% for i in other_owners %}
      <tr>
        {% for k, j in enumerate(i) %}
        <td>{{ k + 1 }}</td><td>{{ j }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

<table class="client-table">
{% for i in pay_table %}
    <tr>
      {% for j in i%}
        <td>{{ j }}</td>
      {% endfor %}
    </tr>
{% endfor %}
</table>

<br><br>
{% for i in specialist_stamp%}
  <p>{{ i }}</p>
{% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>